$color-primary: #A4C096;

$color-body-bg: #eaeaea;

$color-black: #000000;
$color-white: #ffffff;

$color-success: #158d65;
$color-info: #009eca;
$color-warning: #d8680c;

$color-borders: #cecece;
$color-gray-1: #737373;
$color-gray-2: #c5c5c5;
$color-gray-3: #5C6874;
$color-gray-4: #f4f4f4;
$color-gray-5: #B4B4B4;
$color-gray-6: #2F353A;
$color-gray-7: #9E9E9E;
$color-gray-8: #EBEBEB;
$color-gray-9: #333333;
$color-gray-10: #d8d8d8;
