:root {
    --color-primary: #{$color-primary};

    --color-black: #{$color-black};
    --color-white: #{$color-white};

    --color-borders: #{$color-borders};
    --color-gray-1: #{$color-gray-1};
    --color-gray-2: #{$color-gray-2};
    --color-gray-3: #{$color-gray-3};
    --color-gray-4: #{$color-gray-4};
}
