.el-card.el-card {
    overflow: initial;
}

.el-card--head.el-card--head {
    margin-top: -6.6rem;

    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.11);
    border-radius: 0.688rem;

    .el-card__body {
        padding: 1rem;
    }

}