.el-input__prefix {
    display: inline-flex;
    align-items: center;

    left: 0.75rem;
    color: $color-gray-1;
}

.el-input__inner {
    border: 0;

    &::placeholder {
        opacity: 0.5;
    }
}

.el-input--prefix .el-input__inner {
    padding-left: 2.5rem;
}
