.el-progress {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    &-bar {
        flex: 0 1 100%;
        margin-right: 0;
        padding-right: 0;
    }

    &__text,
    &__label {
        font-size: 0.813rem !important;
    }

    &__text {
        flex: 1 0 auto;
        margin-right: 0.5rem;
        margin-left: 0;
    }

    &__label {
        margin-left: .5rem;
        margin-right: .5rem;

        font-weight: 700;
        text-transform: uppercase;
    }
}

.el-progress.el-progress--light {
    .el-progress-bar__inner {
        background-color: $color-gray-1;
    }
}

.el-progress--custom {
    flex-direction: row;

    .el-progress__number {
        font-size: 1rem;
        color: $color-gray-3;
    }

    .el-progress-bar__outer {
        overflow: initial;
        background-color: $color-success;
    }

    .el-progress-bar__inner {
        background-color: $color-info;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 1px solid $color-white;

        &:after {
            content: '';

            position: absolute;
            bottom: 100%;

            border: 6px solid transparent;
            border-top-color: $color-gray-3;

            transform: translateX(-50%);
        }
    }
}
