.el-radio--custom {
    position: relative;

    padding: .5rem;
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;

    border-radius: 0.125rem;

    &.is-checked {
        background-color: $color-gray-8;

        .el-radio__inner {
            background-color: $color-white;

            &:after {
                width: 0.8rem;
                height: 0.8rem;
                background-color: $color-black;
            }
        }

        .el-radio__label {
            color: $color-gray-9;
        }

        .el-radio__label-alt {
            display: flex;
        }
    }

    .el-radio__input {
        display: inline-flex;
    }

    .el-radio__inner {
        width: 1.5rem;
        height: 1.5rem;

        border: 1px solid $color-gray-7;
        background-color: $color-white;
    }

    .el-radio__label {
        color: $color-gray-3;
        font-size: 0.875rem;
        text-transform: uppercase;
    }

    .el-radio__label-alt {
        position: absolute;
        right: 0;
        top: 0;

        display: none;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-left: auto;
        width: 3.438rem;

        border-radius: 0.125rem;

        font-size: 1.250rem;

        color: $color-white;

        &:before {
            content: '';

            position: absolute;
            top: 0;
            right: 100%;

            display: block;
            width: 0.125rem;
            height: 100%;

            background-color: $color-white;
        }
    }
}